# colcon
**/build/
**/install/
**/log/
ws_robot/src/ydlidar_ros2_driver/

# rosbag2 / datasets
**/*.db3
**/*.mcap
**/*.bag
experiments/runs/
datasets/
data/

# python
**/__pycache__/
**/*.pyc

# editors / OS
.vscode/
.idea/
*.swp
*.tmp
.DS_Store

ws_robot/build/
ws_robot/install/
ws_robot/log/
